
{{#if messageOk}}
        <div class="message_file">
            <div>Registrierung erfolgreich.</div>
            <a href="/login">
                <span class="reg-tag">Zum Login hier klicken!</span>
            </a>
        </div>
{{/if}}

